* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    width: 350px;
    aspect-ratio: 1/2;
    background-color: aquamarine;
}
html,
body,
.container{
    height: 100%;
}
.container {
    display: flex;
}
.left, 
.right {
    width: 50%;
}
figure {
    height: 100%;
    width: 100%;
    line-height: 0;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,p {
    text-align: center;
}
h2{
    margin: 8px 0;
}
.button_p_h2{
    margin-bottom: 20px;
}
.button-action {
    padding: 10px 0;
    border-radius: 12px;
    border: 1px solid rgb(181, 181, 181);
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}
.or {
    margin-bottom: 8px;
}
